.hidden {
  display: none;
}

body {
  color: white;
}

header {
  height: 30px;
}

#weather {
  position: absolute;
  height: auto;
  top: 0px;
  right: 10px;
  color: red;
  background-color: black;
  margin: 15px;
}

#footer__todo {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  margin-right: 5px;
  right: 10px;
  color: red;
}
